
./HPTextViewSample/.gradle
./HPTextViewSample/local.properties
./HPTextViewSample/.idea/workspace.xml
./HPTextViewSample/.idea/libraries
./HPTextViewSample.DS_Store
./HPTextViewSample/build
./HPTextViewSample/captures